* {
  box-sizing: border-box;
}

body {
  font-family: 'Open-sans', sans-serif; 
}

header {
  background: #E5F3F2;
  height: 300px;
}

h1 {
  padding: 30px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}

.idea-title-input, .idea-body-input {
  margin: 10px;
  height: 40px;
  font-size: 2em;
}

span, h3 {
  font-family: 'Roboto Slab', serif;
}


/*search button should be fixed*/