* {
  box-sizing: border-box;
}

body {
  font-family: 'Open-sans', sans-serif;
  margin: 0; 
}

header {
  background: #E5F3F2;
  height: 340px;
}

h1 {
  padding: 20px 6px 10px;
  text-align: center;
  font-weight: 700;
  font-size: 3.25em;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 800px;
}

main {
  max-width: 900px;
  margin: auto;
}

.ideas-section {
  max-width: 850px;
  margin: auto;
}

.title-input, .body-input, .search-input {
  margin: 10px;
  height: 40px;
  font-size: 2em;
  border: solid #ccd0d1 1.5px;
  font-color: #ccd0d1;
}

.body-input {
  height: 85px;
  padding-bottom: 45px;
}

.search-parent {
  width: 90%;
  margin: auto 5%;
}

.search-input {
  width: 96%;
}

::placeholder {
  color: #ccd0d1;
}

span, h3 {
  font-family: 'Roboto Slab', serif;
}

.idea-body-txt {
  color: #A6A7AA;
}

h3 {
  color: #78797C;
}

.idea {
  color: #00A79D;

}

.box{
  color: #6d6e71;

}

.save-btn {
  color: #FFFFFF;
  background-color: #00A79D;
  width: 97%;
  border: none;
  font-size: 1.5em;
  margin: 10px auto 15px;
  height: 45px;
  padding: 0;
}

.save-btn:hover {
  background-color: #045e55;
}

article {
  width: 90%;
  margin: auto;
  font-size: 1.5em;
  border-bottom: solid #ccd0d1 1.5px;
  /*border-color: #ccd0d1*/
}

.vote-form {
  margin-bottom: 13px;
}

.quality {
  display: inline;
  position: relative;
  bottom: 10px;
  left: 20px;
  color: #97999C;
}

.btn {
  width: 1.5em;
}

.delete-btn {
  float: right;
}

.up-btn {
  margin: 0 10px 0 0;
}




/*search button should be fixed

Steps: style search bar;
  
  bring in svgs
  size em up
  size up text in example articles
  add border























*/